/etapa1/checker.rkt~
/etapa1/supermarket.rkt~
/etapa1/tutorial.rkt~
/etapa1/ioan_razvan.abagiu_etapa1.zip
/etapa2/checker.rkt~
/etapa2/supermarket.rkt~
/etapa2/ioan_razvan.abagiu_etapa2.zip
/etapa2/checker.rkt~
/etapa2/compiled/
/etapa2/etapa-3.zip
/etapa2/queue.rkt~
/etapa2/supermarket.rkt~
/etapa3/checker.rkt~
/etapa3/compiled/
/etapa3/etapa-3.zip
/etapa3/queue.rkt~
/etapa3/supermarket.rkt~
/etapa3/checker.rkt~
/etapa3/ioan_razvan.abagiu_etapa3.zip

